<div>
  <div>
    <mat-toolbar class="color">
      <span>USER LOGIN INFORMATION</span>
      <div class="row">
        <div class="col">
          <button mat-raised-button class="alignment" color="primary" (click)="addUser()">Add User</button>
        </div>
        <div class="col">
          <button mat-raised-button class="alignment" color="primary" (click)="viewUser()">View User</button>
        </div>
        <div class="col">
          <button mat-raised-button class="alignment" color="primary" (click)="updateUser()">Update User</button>
        </div>
        <div class="col">
          <button mat-raised-button class="alignment" color="primary" (click)="deleteUser()">Delete User</button>
        </div>
      </div>
    </mat-toolbar>
  </div>
</div>